<div v-if="dialogEditRole">
    <v-dialog v-model="dialogEditRole" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Cập Nhật Role Cho '{{ itemToEditRole.email }}'</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>

                        <v-flex xs12 sm12>
                            <v-select v-model="itemToEditRole.roleIds"
                                      :items="itemRoles"
                                      item-text="role"
                                      item-value="id"
                                      chips
                                      label="Chọn Role"
                                      multiple>
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>({{ data.item.role }})</span>

                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary darken-1" flat v-on:click="dialogEditRole = false">Đóng</v-btn>
                <v-btn color="blue darken-1 white--text" v-on:click="onUpdateRole(itemToEditRole)">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>