<v-data-table :headers="headers"
              :items="roleItems"
              :search="search">
    <template slot="items" slot-scope="props">
        <td class="justify-center layout px-0">

            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" v-on="on"
                           flat icon
                           v-on:click.stop="dialogUser = true"
                           v-on:click="mappingQuyenRoleItem(props.item)">
                        <v-icon>info</v-icon>
                    </v-btn>
                </template>
                <strong>Xem Danh Sách User Thuộc Role</strong>
            </v-tooltip>

            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-btn flat icon
                           color="success"
                           v-on="on"
                           v-on:click.stop="dialogQuyen = true"
                           v-on:click="mappingUserRoleItem(props.item)">
                        <v-icon>security</v-icon>
                    </v-btn>
                </template>
                <strong>Xem Danh Sách Quyền Của Role</strong>
            </v-tooltip>

        </td>
        <td>
            <v-edit-dialog :return-value.sync="props.item.role"
                           lazy
                           v-if="props.item.role != 'Admin' &&
                                                 props.item.role != 'Chart_DoanhThu' &&
                                                 props.item.role != 'Chart_GiaoVien' &&
                                                 props.item.role != 'Chart_HocVien' &&
                                                 props.item.role != 'Chart_No' &&
                                                 props.item.role != 'TK_DoanhThu' &&
                                                 props.item.role != 'TK_GiaoVien' &&
                                                 props.item.role != 'TK_HocVien' &&
                                                 props.item.role != 'TK_ChiPhi' &&
                                                 props.item.role != 'TK_HocVienNghiNhieu' &&
                                                 props.item.role != 'TK_BienLai_Read' &&
                                                 props.item.role != 'TK_BienLai_Contribute' &&
                                                 props.item.role != 'TK_TheoDoiHocVien_Read' &&
                                                 props.item.role != 'TK_TheoDoiHocVien_Contribute'"
                           v-on:save="onUpdate(props.item.id, props.item.role)">
                {{ props.item.role }}
                <v-text-field slot="input"
                              v-model="props.item.role"
                              label="Edit"
                              single-line></v-text-field>
            </v-edit-dialog>
            <span v-else>{{ props.item.role }}</span>
        </td>

    </template>
    <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Không tìm thấy "{{ search }}".
    </v-alert>
</v-data-table>