<div id="KhoaHocIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    <v-dialog v-model="dialog" persistent max-width="600px"v-if="khoaHocItems.length != 0">
                        <v-btn color="primary"
                               slot="activator"
                               v-if="khoaHocItems[0].canContribute"
                               class="white--text">
                            Thêm Mới
                            <v-icon right dark>add</v-icon>
                        </v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Thêm Khóa Học Mới</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12>
                                            <v-text-field label="Tên Khóa Học *" required v-model="newItem" v-on:keyup.enter="onSave"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <small>* bắt buộc</small>
                                <v-alert v-model="alert"
                                         dismissible
                                         color="warning"
                                         icon="priority_high"
                                         outline>
                                    Không được bỏ trống
                                </v-alert>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="secondary darken-1" flat v-on:click="dialog = false">Đóng</v-btn>
                                <v-btn color="blue darken-1 white--text" v-on:click="onSave">Lưu</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-spacer></v-spacer>
                    <v-text-field v-model="search"
                                  append-icon="search"
                                  label="Tìm Kiếm"
                                  single-line
                                  hide-details></v-text-field>
                </v-card-title>
                <v-data-table :headers="headers"
                              :items="khoaHocItems"
                              :search="search">
                    <template slot="items" slot-scope="props">
                        <td>
                            <v-tooltip top v-if="props.item.canContribute">
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon slot="activator"
                                           v-on="on"
                                           color="red"
                                           v-on:click.stop="deleteDialog = true"
                                           v-on:click="itemToDelete = props.item">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </template>
                                <strong>Xóa</strong>
                            </v-tooltip>

                        </td>
                        <td>
                            <v-edit-dialog :return-value.sync="props.item.name"
                                           lazy
                                            v-if="props.item.canContribute"
                                           v-on:save="onUpdate(props.item)">
                                {{ props.item.name }}
                                <v-text-field slot="input"
                                              v-model="props.item.name"
                                              label="Edit"
                                              single-line></v-text-field>
                            </v-edit-dialog>
                            <span v-else>{{ props.item.name }}</span>
                        </td>
                        <td>{{ props.item.createdDate }}</td>
                        <td>{{ props.item.createdBy }}</td>
                        <td>{{ props.item.updatedDate }}</td>
                        <td>{{ props.item.updatedBy }}</td>
                    </template>
                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                        Không tìm thấy "{{ search }}".
                    </v-alert>
                </v-data-table>
            </v-card>
        </div>


        @*DELETE DIALOG*@
        <v-dialog v-model="deleteDialog"
                  width="500">

            <v-card>
                <v-card-title class="headline error lighten-2 white--text"
                              primary-title>
                    Xác Nhận
                </v-card-title>

                <v-card-text>
                    Bạn có chắc xóa '{{ itemToDelete.name }}'?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="secondary"
                           flat
                           v-on:click="deleteDialog = false">
                        Đóng
                    </v-btn>

                    <v-btn color="error white--text"
                           v-on:click="onDelete(itemToDelete)">
                        Xóa
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/khoahocindex.min.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }
</style>