<div v-if="dialogEdit">
    <v-dialog v-model="dialogEdit"
              max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Cập Nhật Lớp Học '{{ itemToEdit.name }}'</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>

                        <v-flex xs12 sm4>
                            <v-text-field label="Tên Khóa Học *" required v-model="itemToEdit.name"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-select :items="itemKhoaHoc"
                                      item-text="name"
                                      item-value="khoaHocId"
                                      v-model="itemToEdit.khoaHocId"
                                      label="Chọn Khóa Học *">
                            </v-select>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-select :items="itemNgayHoc"
                                      item-text="name"
                                      item-value="ngayHocId"
                                      v-model="itemToEdit.ngayHocId"
                                      label="Chọn Ngày Học *">
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-select :items="itemGioHoc"
                                      :item-text="DisplayGioHoc"
                                      item-value="gioHocId"
                                      v-model="itemToEdit.gioHocId"
                                      label="Chọn Giờ Học *">
                            </v-select>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-menu v-model="isShowDatePicker2"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="itemToEdit.ngayKhaiGiang"
                                              label="Ngày Khai Giảng"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayKhaiGiang" v-on:input="isShowDatePicker2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-menu v-model="isShowDatePicker3"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="itemToEdit.ngayKetThuc"
                                              label="Ngày Kết Thúc"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayKetThuc" v-on:input="isShowDatePicker3 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                </v-container>
                <small>* bắt buộc</small>
                <v-alert v-model="alertEdit"
                         dismissible
                         color="warning"
                         icon="priority_high"
                         outline>
                    Không được bỏ trống
                </v-alert>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary darken-1" flat v-on:click="dialogEdit = false">Đóng</v-btn>
                <v-btn color="blue darken-1 white--text" v-on:click="onUpdate(itemToEdit)">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>