<div id="sales-chart">
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="revenue-chart" class="card">
                <div class="card-content">
                    <h4 class="header mt-0">
                        THỐNG KÊ
                    </h4>
                    <div class="row">
                        <div class="col s12">
                            @if (User.IsInRole("Chart_HocVien") || User.IsInRole("Admin"))
                            {
                                <div class="col s12 m6 l6">
                                    <header style="color:#1976d2">Học Viên</header>
                                    <line-chart v-if="loadedHocVien"
                                                :chartdata="chartdataHocVien" />
                                </div>
                            }

                            @if (User.IsInRole("Chart_GiaoVien") || User.IsInRole("Admin"))
                            {
                                <div class="col s12 m6 l6">
                                    <header style="color:#1976d2">Giáo Viên</header>
                                    <line-chart v-if="loadedGiaoVien"
                                                :chartdata="chartdataGiaoVien" />
                                </div>
                            }

                            @if (User.IsInRole("Chart_DoanhThu") || User.IsInRole("Admin"))
                            {
                                <div class="col s12 m6 l6">
                                    <header style="color:#1976d2">Doanh Thu/Chi Phí</header>
                                    <line-chart v-if="loadedDoanhThuHocPhi"
                                                :chartdata="chartdataDoanhThuHocPhi" />
                                </div>
                            }

                            @if (User.IsInRole("Chart_No") || User.IsInRole("Admin"))
                            {
                                <div class="col s12 m6 l6">
                                    <header style="color:#1976d2">Học Viên Nợ</header>
                                    <line-chart v-if="loadedNo"
                                                :chartdata="chartdataNo" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>