<v-data-table :headers="headersTheoDoi"
              :items="hocVienTheoDoi"
              :search="searchTheoDoi"
              class="elevation-1"
              v-if="hocVienTheoDoi.length > 0">
    <template slot="items" slot-scope="props">
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("TK_TheoDoiHocVien_Contribute"))
            {
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-btn flat icon slot="activator"
                               v-on="on"
                               color="red"
                               v-on:click.stop="deleteDialogTheoDoi = true"
                               v-on:click="itemToDeleteTheoDoi = props.item">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </template>
                    <strong>Xóa</strong>
                </v-tooltip>
            }
        </td>
        <td>{{ props.item.tenHocVien }}</td>
        <td>{{ props.item.trigram }}</td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("TK_TheoDoiHocVien_Contribute"))
            {
                <v-edit-dialog :return-value.sync="props.item.ghiChu"
                               lazy
                               v-on:save="onUpdateTheoDoi(props.item)">
                    {{ props.item.ghiChu }}
                    <v-text-field slot="input"
                                  v-model="props.item.ghiChu"
                                  label="Edit"
                                  single-line></v-text-field>
                </v-edit-dialog>
            }
            else
            {
                <span>{{ props.item.ghiChu }}</span>
            }
        </td>
    </template>
    <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Không tìm thấy "{{ searchTheoDoi }}".
    </v-alert>
</v-data-table>