<div id="ecommerce-offer">
    <div class="row">
        @if (User.IsInRole("TK_HocVien") || User.IsInRole("Admin"))
        {
            <div class="col s12 m3">
                <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3">
                    <div class="card-content center">
                        <img src="~/layout_page/images/icon/giaovien.png" class="width-40">
                        <h5 class="white-text lighten-4">{{ thongKeTong.hocVien }}</h5>
                        <p class="white-text lighten-4">Học Viên</p>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("TK_GiaoVien") || User.IsInRole("Admin"))
        {
            <div class="col s12 m3">
                <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-3">
                    <div class="card-content center">
                        <img src="~/layout_page/images/icon/hocvien.png" class="width-40">
                        <h5 class="white-text lighten-4">{{ thongKeTong.giaoVien }}</h5>
                        <p class="white-text lighten-4">Giáo Viên</p>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("TK_DoanhThu") || User.IsInRole("Admin"))
        {
            <div class="col s12 m3">
                <div class="card gradient-shadow gradient-45deg-green-teal border-radius-3">
                    <div class="card-content center">
                        <img src="~/layout_page/images/icon/doanhthu.png" class="width-40">
                        <h5 class="white-text lighten-4">{{ formatNumber(thongKeTong.doanhThu) }}</h5>
                        <p class="white-text lighten-4">Doanh Thu</p>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("TK_ChiPhi") || User.IsInRole("Admin"))
        {
            <div class="col s12 m3">
                <div class="card gradient-shadow gradient-45deg-red-pink border-radius-3">
                    <div class="card-content center">
                        <img src="~/layout_page/images/icon/chiphi.png" class="width-40">
                        <h5 class="white-text lighten-4">{{ formatNumber(thongKeTong.chiPhi) }}</h5>
                        <p class="white-text lighten-4">Chi Phí</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>