@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container" id="HomeIndex">
    @if (User.IsInRole("Admin") || User.IsInRole("TK_ChiPhi") || User.IsInRole("TK_DoanhThu") || User.IsInRole("TK_GiaoVien") || User.IsInRole("TK_HocVien"))
    {
        <partial name="_ThongKeTong" />
    }

    @if (User.IsInRole("Admin") || User.IsInRole("TK_TheoDoiHocVien_Read") || User.IsInRole("TK_TheoDoiHocVien_Contribute"))
    {
        <partial name="_TheoDoiHocVien" />
    }

    @if (User.IsInRole("Admin") || User.IsInRole("TK_HocVienNghiNhieu"))
    {
        <partial name="_HocVienNghiNhieu" />
    }

    @if (User.IsInRole("Admin") || User.IsInRole("TK_BienLai_Read") || User.IsInRole("TK_BienLai_Contribute"))
    {
        <partial name="_BienLai" />
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Chart_DoanhThu") || User.IsInRole("Chart_GiaoVien") || User.IsInRole("Chart_HocVien") || User.IsInRole("Chart_No"))
    {
        <partial name="_Chart" />
    }

    <!--end container-->
</div>

<style>
    .primary {
        background-color: #1976d2 !important;
        border-color: #1976d2 !important;
    }

    .success {
        background-color: #4caf50 !important;
        border-color: #4caf50 !important;
    }

    .error.lighten-2 {
        background-color: #ff8c84 !important;
        border-color: #ff8c84 !important;
    }

    .error {
        background-color: #ff5252 !important;
        border-color: #ff5252 !important;
    }

    .v-tabs__item {
        color: white
    }

    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }

    td, th {
        padding: unset;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    table {
        background-color: transparent;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-bottom-width: 2px;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 5px;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>*@
<script src="~/js/chart/Chart.min.js"></script>
<script src="~/js/chart/vue-chartjs.min.js"></script>
<script src="~/js/homeindex.min.js" type="text/javascript"></script>
