<div v-if="dialogImport">
    <v-dialog v-model="dialogImport" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Thêm Học Viên Từ Excel</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>

                        <v-flex xs12 sm4>
                            <v-select v-model="selectedLopHoc"
                                      :items="itemLopHoc"
                                      item-text="name"
                                      item-value="lopHocId"
                                      chips
                                      label="Chọn Lớp Học">
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>{{ data.item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm4 v-if="selectedLopHoc.length > 0">
                            <v-btn color="primary"
                                   class="white--text" v-on:click="onExportTemplate">
                                Download mẫu excel
                                <v-icon right dark>attach_file</v-icon>
                            </v-btn>
                        </v-flex>

                        <input v-if="selectedLopHoc.length > 0" type="file" id="file" ref="myFiles" class="custom-file-input" />

                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary darken-1" flat v-on:click="dialogImport = false; selectedLopHoc = {}">Đóng</v-btn>
                <v-btn color="blue darken-1 white--text" v-on:click="onImport">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>