<div id="HocVienIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    <v-btn color="success"
                           class="white--text">
                        Thêm Từ Excel
                        <v-icon right dark>attach_file</v-icon>
                    </v-btn>
                    <v-dialog v-model="dialog" persistent max-width="600px">
                        <v-btn color="primary"
                               slot="activator"
                               class="white--text">
                            Thêm Mới
                            <v-icon right dark>add</v-icon>
                        </v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Thêm Học Viên Mới</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>

                                        <v-flex xs12 sm4>
                                            <v-text-field label="Họ Và Tên *" required v-model="newItem.fullName"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field label="English Name *" required v-model="newItem.englishName"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field label="Số Điện Thoại *" required v-model="newItem.phone"></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 sm4>
                                            <v-text-field label="Facebook *" required v-model="newItem.facebookAccount"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-menu v-model="isShowDatePicker"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    lazy
                                                    transition="scale-transition"
                                                    offset-y
                                                    full-width
                                                    min-width="290px">
                                                <v-text-field slot="activator"
                                                              v-model="newItem.ngaySinh"
                                                              label="Ngày Sinh"
                                                              prepend-icon="event"
                                                              readonly></v-text-field>
                                                <v-date-picker locale="vi-vn" v-model="newItem.ngaySinh" v-on:input="isShowDatePicker = false"></v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field label="Họ Tên Phụ Huynh" v-model="newItem.parentFullName"></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 sm4>
                                            <v-select :items="itemQuanHe"
                                                      item-text="name"
                                                      item-value="quanHeId"
                                                      v-model="newItem.quanHe"
                                                      label="Chọn Quan Hệ">
                                            </v-select>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field label="Facebook Phụ Huynh" v-model="newItem.parentFacebookAccount"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field label="SĐT Phụ Huynh" v-model="newItem.parentPhone"></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 sm4>
                                            <v-switch v-model="newItem.isAppend" color="success" label="Chèn"></v-switch>
                                        </v-flex>
                                        <v-flex xs12 sm8>
                                            <v-select v-model="newItem.lopHoc"
                                                      :items="itemLopHoc"
                                                      item-text="name"
                                                      item-value="lopHocId"
                                                      attach
                                                      chips
                                                      label="Chọn Lớp Học"
                                                      multiple>
                                                <template v-slot:selection="data">
                                                    <v-chip :selected="data.selected"
                                                            color="green"
                                                            text-color="white">
                                                        <span>({{ data.item.name }})</span>

                                                    </v-chip>
                                                </template>
                                            </v-select>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <small>* bắt buộc</small>
                                <v-alert v-model="alert"
                                         dismissible
                                         color="warning"
                                         icon="priority_high"
                                         outline>
                                    Không được bỏ trống
                                </v-alert>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="secondary darken-1" flat v-on:click="dialog = false">Đóng</v-btn>
                                <v-btn color="blue darken-1 white--text" v-on:click="onSave">Lưu</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-spacer></v-spacer>
                    <v-text-field v-model="search"
                                  append-icon="search"
                                  label="Tìm Kiếm"
                                  single-line
                                  hide-details></v-text-field>
                </v-card-title>
                <v-data-table :headers="headers"
                              :items="khoaHocItems"
                              :search="search">
                    <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">

                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon
                                           color="red"
                                           v-on="on"
                                           v-on:click.stop="deleteDialog = true"
                                           v-on:click="itemToDelete = props.item">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </template>
                                <strong>Xóa</strong>
                            </v-tooltip>

                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon
                                           color="primary"
                                           v-on="on"
                                           v-on:click.stop="dialogEdit = true"
                                           v-on:click="mappingEditItem(props.item)">
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                </template>
                                <strong>Sửa</strong>
                            </v-tooltip>

                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon
                                           color="success"
                                           v-on="on"
                                           v-on:click.stop="dialogDiemDanh = true"
                                           v-on:click="mappingDiemDanhItem(props.item)">
                                        <v-icon>info</v-icon>
                                    </v-btn>
                                </template>
                                <strong>Xem Điểm Danh</strong>
                            </v-tooltip>

                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn flat icon
                                           color="secondary"
                                           v-on="on"
                                           v-on:click.stop="dialogThemLop = true"
                                           v-on:click="mappingThemLopItem(props.item)">
                                        <v-icon>add</v-icon>
                                    </v-btn>
                                </template>
                                <strong>Thêm Học Viên Vào Lớp Cũ ( Hủy hoặc Tốt Nghiệp )</strong>
                            </v-tooltip>

                        </td>
                        <td>{{ props.item.fullName }}</td>
                        <td>
                            <v-tooltip top v-if="props.item.lopHocList.length > 0">
                                <template v-slot:activator="{ on }">
                                    <v-icon color="grey lighten-1" dark v-on="on">class</v-icon>
                                </template>
                                <div v-for="lop in props.item.lopHocList">
                                    <strong>{{ lop.name }}</strong>
                                </div>
                            </v-tooltip>
                        </td>
                        <td>{{ props.item.ngaySinh }}</td>
                        <td>{{ props.item.englishName }}</td>
                        <td>{{ props.item.phone }}</td>
                        <td>{{ props.item.facebookAccount }}</td>
                        <td>{{ props.item.parentFullName }}</td>
                        <td>{{ props.item.parentPhone }}</td>
                        <td>{{ props.item.quanHe }}</td>
                        <td>{{ props.item.parentFacebookAccount }}</td>
                        <td><v-switch v-model="props.item.isAppend" color="success" hide-details v-on:change="onToggleAppend(props.item.hocVienId)"></v-switch></td>
                        <td>{{ props.item.createdDate }}</td>
                        <td>{{ props.item.createdBy }}</td>
                        <td>{{ props.item.updatedDate }}</td>
                        <td>{{ props.item.updatedBy }}</td>
                    </template>
                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                        Không tìm thấy "{{ search }}".
                    </v-alert>
                </v-data-table>
            </v-card>
        </div>


        @*Delete Dialog*@
        <v-dialog v-model="deleteDialog"
                  width="500">
            <v-card>
                <v-card-title class="headline error lighten-2 white--text"
                              primary-title>
                    Xác Nhận
                </v-card-title>

                <v-card-text>
                    Bạn có chắc xóa '{{ itemToDelete.fullName }}'?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="secondary"
                           flat
                           v-on:click="deleteDialog = false">
                        Đóng
                    </v-btn>

                    <v-btn color="error white--text"
                           v-on:click="onDelete(itemToDelete)">
                        Xóa
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        @*Edit Dialog*@
        <v-dialog v-model="dialogEdit" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Cập Nhật Học Viên '{{ itemToEdit.fullName }}'</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12 sm4>
                                <v-text-field label="Họ Và Tên *" required v-model="itemToEdit.fullName"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="English Name *" required v-model="itemToEdit.englishName"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Số Điện Thoại *" required v-model="itemToEdit.phone"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                                <v-text-field label="Facebook *" required v-model="itemToEdit.facebookAccount"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-menu v-model="isShowDatePicker2"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px">
                                    <v-text-field slot="activator"
                                                  v-model="itemToEdit.ngaySinh"
                                                  label="Ngày Sinh"
                                                  prepend-icon="event"
                                                  readonly></v-text-field>
                                    <v-date-picker locale="vi-vn" v-model="itemToEdit.ngaySinh" v-on:input="isShowDatePicker2 = false"></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Họ Tên Phụ Huynh" v-model="itemToEdit.parentFullName"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                                <v-select :items="itemQuanHe"
                                          item-text="name"
                                          item-value="quanHeId"
                                          v-model="itemToEdit.quanHeId"
                                          label="Chọn Quan Hệ">
                                </v-select>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Facebook Phụ Huynh" v-model="itemToEdit.parentFacebookAccount"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="SĐT Phụ Huynh" v-model="itemToEdit.parentPhone"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm12>
                                <v-select v-model="itemToEdit.lopHocIds"
                                          :items="itemLopHoc"
                                          item-text="name"
                                          item-value="lopHocId"
                                          attach
                                          chips
                                          label="Chọn Lớp Học"
                                          multiple>
                                    <template v-slot:selection="data">
                                        <v-chip :selected="data.selected"
                                                color="green"
                                                text-color="white">
                                            <span>({{ data.item.name }})</span>

                                        </v-chip>
                                    </template>
                                </v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>* bắt buộc</small>
                    <v-alert v-model="alertEdit"
                             dismissible
                             color="warning"
                             icon="priority_high"
                             outline>
                        Không được bỏ trống
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary darken-1" flat v-on:click="dialogEdit = false">Đóng</v-btn>
                    <v-btn color="blue darken-1 white--text" v-on:click="onUpdate(itemToEdit)">Lưu</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>


        @*DiemDanh Dialog*@
        <v-dialog v-model="dialogDiemDanh" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Lịch Sử Điểm Danh Học Viên '{{ itemToDiemDanh.fullName }}'</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12 sm4>
                                <v-select v-model="selectedLopHoc"
                                          :items="itemDiemDanh"
                                          item-text="name"
                                          item-value="lopHocId"
                                          attach
                                          chips
                                          label="Chọn Lớp Học"
                                          v-on:change="GetDiemDanhByHocVien">
                                    <template v-slot:selection="data">
                                        <v-chip :selected="data.selected"
                                                color="green"
                                                text-color="white">
                                            <span>{{ data.item.name }}</span>
                                        </v-chip>
                                    </template>
                                </v-select>
                            </v-flex>

                            <v-flex>
                                <v-data-table :headers="headersDiemDanh"
                                              :items="diemDanhItems"
                                              v-if="diemDanhItems.length > 0"
                                              :search="searchDiemDanh">
                                    <template slot="items" slot-scope="props">
                                        <td>{{ props.item.ngayDiemDanh}}</td>
                                        <td><v-switch v-model="props.item.isOff" color="error" hide-details readonly></v-switch></td>
                                        <td><v-switch v-model="props.item.isDuocNghi" color="error" hide-details readonly></v-switch></td>
                                    </template>
                                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                        Không tìm thấy "{{ search }}".
                                    </v-alert>
                                </v-data-table>
                            </v-flex>


                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary darken-1" flat v-on:click="dialogDiemDanh = false; diemDanhItems = []; selectedLopHoc = {}">Đóng</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        @*ThemLop Dialog*@
        <v-dialog v-model="dialogThemLop" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Thêm Học Viên '{{ itemToThemLop.fullName }}' Vào Lớp Học</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12>
                                <v-select v-model="selectedArrayLopHoc"
                                          :items="itemThemLop"
                                          item-text="name"
                                          item-value="lopHocId"
                                          attach
                                          chips
                                          multiple
                                          label="Chọn Lớp Học">
                                    <template v-slot:selection="data">
                                        <v-chip :selected="data.selected"
                                                color="green"
                                                text-color="white">
                                            <span>{{ data.item.name }}</span>
                                        </v-chip>
                                    </template>
                                </v-select>
                            </v-flex>

                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary darken-1" flat v-on:click="dialogThemLop = false; selectedArrayLopHoc = {}">Đóng</v-btn>
                    <v-btn color="blue darken-1 white--text" v-on:click="onThemLop(itemToThemLop)">Lưu</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/hocvienindex.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }

    td, th {
        padding: unset;
    }
</style>