<div class="text-center mt-3">
    <div v-if="isPass" class="border-radius-10 p-5 bg-white">
        <img src="~/img/Asset.png" width="200" />
        <h3>Congratulations!</h3>
        <h3>You've passed</h3>
        <h3><b>{{ selectedThuThach.name }}</b></h3>


        <h3>Your score is {{ score }}/{{ selectedThuThach.soCauHoi }}</h3>
        <v-btn color="blue darken-1 white--text"
               v-if="score < selectedThuThach.soCauHoi">Show wrong answers</v-btn>

    </div>
    <div v-else class="border-radius-10 p-5 bg-white">
        <img src="~/img/smile.png" width="100" />
        <h3>You can do better!</h3>
        <h3>Good luck next time.</h3>


        <h3>Your score is {{ score }}/{{ selectedThuThach.soCauHoi }}</h3>
        <v-btn color="blue darken-1 white--text"
               v-if="score < selectedThuThach.soCauHoi">Show wrong answers</v-btn>
    </div>
</div>