<h2 class="h1 mb-5 font-weight-normal" style="color: hsl(204, 86%, 43%)">{{ title }}</h2>
<v-text-field label="Enter your ID" required autofocus v-model="trigram" style="width: 50%" v-on:keyup.enter="onSubmitTrigram(trigram)"></v-text-field>
<v-btn color="blue darken-1 white--text" v-on:click="onSubmitTrigram(trigram)">Submit</v-btn>