@{
    ViewData["Title"] = "Challenges";
    Layout = "~/Views/Shared/_LayoutChallenge.cshtml"; ;
}

<div id="ChallengeIndex">
    <v-app style="background: transparent">
        <div class="center" v-if="showTrigram">
            <partial name="_Trigram" />
        </div>

        <div v-if="showIntroduce" class="center">
            <partial name="_Introduce" />
        </div>

        <div v-if="showExam" class="center">
            <div class="countdown">
                <h2>
                    Time left {{ timeLeft }}
                </h2>
            </div>

            <v-stepper v-model="e6" vertical>
                <v-stepper-item v-for="(item, index) in cauHoiItems">
                    <v-stepper-step :key="`${index}-step`"
                                    :step="(index + 1)"
                                    :complete="e6 > (index + 1)"
                                    editable>
                        {{ item.name }}
                    </v-stepper-step>
                    <v-stepper-content :step="(index + 1)"
                                       :key="`${index}-content`">
                        <v-card color="grey lighten-3" class="mb-5 pt-2 pl-2">
                            <v-radio-group>
                                <v-radio v-for="(dapAn, dapAnIndex) in item.dapAns"
                                         :key="dapAn.dapAnId"
                                         :value="dapAnIndex">
                                    <template v-slot:label>
                                        <div style="color: black">{{ dapAn.name }}</div>
                                    </template>
                                </v-radio>
                            </v-radio-group>
                        </v-card>
                        <v-btn color="primary" v-on:click="nextStep((index + 1))">Continue</v-btn>
                        <v-btn flat>Cancel</v-btn>
                    </v-stepper-content>
                </v-stepper-item>
            </v-stepper>
        </div>

        <partial name="_Toast" />
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/challengeindex.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .center {
        text-align: -webkit-center;
    }

    .countdown {
        margin: 5px 0 30px;
    }

    h1 {
        text-align: center;
        font-size: 18px;
        color: hsl(204, 86%, 43%);
    }
</style>