<div v-if="dialogEdit">
    <v-dialog v-model="dialogEdit"
              max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Cập Nhật Nhân Viên '{{ itemToEdit.name }}'</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>

                        <v-flex xs12 sm4>
                            <v-text-field label="Tên Nhân Viên *" required v-model="itemToEdit.name" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-text-field label="Số Điện Thoại *" required v-model="itemToEdit.phone" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-text-field label="Facebook" v-model="itemToEdit.facebookAccount" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm3>
                            <v-text-field label="Teaching Rate" v-model="itemToEdit.teachingRate" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm3>
                            <v-text-field label="Tutoring Rate" v-model="itemToEdit.tutoringRate" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm3>
                            <v-text-field label="Lương Cơ Bản *" required v-model="itemToEdit.basicSalary" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm3>
                            <v-text-field label="Mức Hoa Hồng" v-model="itemToEdit.mucHoaHong" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-text-field label="Địa Chỉ *" required v-model="itemToEdit.diaChi" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-text-field label="Initial Name *" required v-model="itemToEdit.initialName" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-text-field label="CMND *" required v-model="itemToEdit.cmnd" v-on:keyup.enter="onSave"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-select :items="itemNgayLamViec"
                                      item-text="name"
                                      item-value="ngayLamViecId"
                                      v-model="itemToEdit.ngayLamViecId"
                                      label="Chọn Ngày Làm Việc *">
                            </v-select>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-menu v-model="isShowDatePickerBatDau2"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="itemToEdit.ngayBatDau"
                                              label="Ngày Bắt Đầu *"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayBatDau" v-on:input="isShowDatePickerBatDau2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-menu v-model="isShowDatePickerKetThuc2"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="itemToEdit.ngayKetThuc"
                                              label="Ngày Kết Thúc"
                                              clearable
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayKetThuc" v-on:input="isShowDatePickerKetThuc2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>

                        <v-flex xs12 sm12>
                            <v-textarea outline label="Ngân Hàng" v-model="itemToEdit.nganHang" v-on:keyup.enter="onSave"></v-textarea>
                        </v-flex>

                        <v-flex xs12 sm5>
                            <v-select :items="itemLoaiGiaoVien"
                                      item-text="name"
                                      return-object
                                      v-model="itemToEdit.loaiGiaoVienId"
                                      label="Chọn Loại Nhân Viên *">
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm5>
                            <v-select :items="itemLoaiCheDo"
                                      item-text="name"
                                      return-object
                                      v-model="itemToEdit.loaiCheDoId"
                                      label="Chọn Loại Chế Độ *">
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm2>
                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn slot="activator" v-on="on" color="primary darken-1" small v-on:click="onAddLoaiNVCDForEdit(itemToEdit)">Thêm</v-btn>
                                </template>
                                <strong>Thêm Chức Danh và Chế Độ</strong>
                            </v-tooltip>
                        </v-flex>

                        <v-flex xs12 sm12>
                            <table class="table table-condensed table-hover table-bordered" style="border: 1px solid #ddd;">
                                <thead style="background-color: orange;">
                                    <tr style="border: 1px solid #ddd;">
                                        <th style="border: 1px solid #ddd; text-align:center;"> Vị Trí</th>
                                        <th style="border: 1px solid #ddd; text-align:center;"> Chế Độ</th>
                                        <th style="border: 1px solid #ddd; text-align:center;"> Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border: 1px solid #ddd;" v-for="(item,i) in itemToEdit.loaiNhanVien_CheDo" :key="i">
                                        <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiGiaoVien.name }}</td>
                                        <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiCheDo.name }}</td>
                                        <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-btn slot="activator" v-on="on" color="error darken-1" fab small flat v-on:click="onXoaLoaiNVCDForEdit(item)"><v-icon>delete</v-icon></v-btn>
                                                </template>
                                                <strong>Xóa Chức Danh và Chế Độ</strong>
                                            </v-tooltip>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </v-flex>

                    </v-layout>
                </v-container>
                <small>* bắt buộc</small>
                <v-alert v-model="alertEdit"
                         dismissible
                         color="warning"
                         icon="priority_high"
                         outline>
                    {{ alertMessage }}
                </v-alert>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary darken-1" flat v-on:click="dialogEdit = false">Đóng</v-btn>
                <v-btn color="blue darken-1 white--text" v-on:click="onUpdate(itemToEdit)">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>