<div id="GiaoVienIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    @if (ViewBag.CanContribute)
                    {
                        <v-dialog v-model="dialog" persistent max-width="600px">
                            <v-btn color="primary"
                                   slot="activator"
                                   class="white--text">
                                Thêm Mới
                                <v-icon right dark>add</v-icon>
                            </v-btn>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">Thêm Nhân Viên Mới</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 sm4>
                                                <v-text-field label="Tên Nhân Viên *" required v-model="newItem.name" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-text-field label="Số Điện Thoại *" required v-model="newItem.phone" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-text-field label="Facebook" v-model="newItem.facebookAccount" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>

                                            <v-flex xs12 sm3>
                                                <v-text-field label="Teaching Rate" v-model="newItem.teachingRate" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm3>
                                                <v-text-field label="Tutoring Rate" v-model="newItem.tutoringRate" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm3>
                                                <v-text-field label="Lương Cơ Bản *" required v-model="newItem.basicSalary" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm3>
                                                <v-text-field label="Mức Hoa Hồng" v-model="newItem.mucHoaHong" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>

                                            <v-flex xs12 sm4>
                                                <v-text-field label="Địa Chỉ *" required v-model="newItem.diaChi" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-text-field label="Initial Name *" required v-model="newItem.initialName" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-text-field label="CMND *" required v-model="newItem.cmnd" v-on:keyup.enter="onSave"></v-text-field>
                                            </v-flex>

                                            <v-flex xs12 sm4>
                                                <v-select :items="itemNgayLamViec"
                                                          item-text="name"
                                                          item-value="ngayLamViecId"
                                                          v-model="newItem.ngayLamViecId"
                                                          label="Chọn Ngày Làm Việc *">
                                                </v-select>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-menu v-model="isShowDatePickerBatDau"
                                                        :close-on-content-click="false"
                                                        :nudge-right="40"
                                                        lazy
                                                        transition="scale-transition"
                                                        offset-y
                                                        full-width
                                                        min-width="290px">
                                                    <v-text-field slot="activator"
                                                                  v-model="newItem.ngayBatDau"
                                                                  label="Ngày Bắt Đầu *"
                                                                  prepend-icon="event"
                                                                  readonly></v-text-field>
                                                    <v-date-picker locale="vi-vn" v-model="newItem.ngayBatDau" v-on:input="isShowDatePickerBatDau = false"></v-date-picker>
                                                </v-menu>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                                <v-menu v-model="isShowDatePickerKetThuc"
                                                        :close-on-content-click="false"
                                                        :nudge-right="40"
                                                        lazy
                                                        transition="scale-transition"
                                                        offset-y
                                                        full-width
                                                        min-width="290px">
                                                    <v-text-field slot="activator"
                                                                  v-model="newItem.ngayKetThuc"
                                                                  label="Ngày Kết Thúc"
                                                                  clearable
                                                                  prepend-icon="event"
                                                                  readonly></v-text-field>
                                                    <v-date-picker locale="vi-vn" v-model="newItem.ngayKetThuc" v-on:input="isShowDatePickerKetThuc = false"></v-date-picker>
                                                </v-menu>
                                            </v-flex>

                                            <v-flex xs12 sm12>
                                                <v-textarea outline label="Ngân Hàng" v-model="newItem.nganHang" v-on:keyup.enter="onSave"></v-textarea>
                                            </v-flex>

                                            <v-flex xs12 sm5>
                                                <v-select :items="itemLoaiGiaoVien"
                                                          item-text="name"
                                                          return-object
                                                          v-model="newItem.loaiGiaoVien"
                                                          label="Chọn Loại Nhân Viên *">
                                                </v-select>
                                            </v-flex>

                                            <v-flex xs12 sm5>
                                                <v-select :items="itemLoaiCheDo"
                                                          item-text="name"
                                                          return-object
                                                          v-model="newItem.loaiCheDo"
                                                          label="Chọn Loại Chế Độ *">
                                                </v-select>
                                            </v-flex>

                                            <v-flex xs12 sm2>
                                                <v-tooltip top>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn slot="activator" v-on="on" color="primary darken-1" small v-on:click="onAddLoaiNVCD">Thêm</v-btn>
                                                    </template>
                                                    <strong>Thêm Chức Danh và Chế Độ</strong>
                                                </v-tooltip>
                                            </v-flex>

                                            <v-flex xs12 sm12>
                                                <table class="table table-condensed table-hover table-bordered" style="border: 1px solid #ddd;">
                                                    <thead style="background-color: orange;">
                                                        <tr style="border: 1px solid #ddd;">
                                                            <th style="border: 1px solid #ddd; text-align:center"> Vị Trí</th>
                                                            <th style="border: 1px solid #ddd; text-align:center"> Chế Độ</th>
                                                            <th style="border: 1px solid #ddd; text-align:center"> Xóa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="border: 1px solid #ddd;" v-for="(item,i) in arrayLoaiNVandCD" :key="i">
                                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiGiaoVien.name }}</td>
                                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiCheDo.name }}</td>
                                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">
                                                                <v-tooltip top>
                                                                    <template v-slot:activator="{ on }">
                                                                        <v-btn slot="activator" v-on="on" color="error darken-1" fab small flat v-on:click="onXoaLoaiNVCD(item)"><v-icon>delete</v-icon></v-btn>
                                                                    </template>
                                                                    <strong>Xóa Chức Danh và Chế Độ</strong>
                                                                </v-tooltip>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </v-flex>

                                        </v-layout>
                                    </v-container>
                                    <small>* bắt buộc</small>
                                    <v-alert v-model="alert"
                                             dismissible
                                             color="warning"
                                             icon="priority_high"
                                             outline>
                                        {{ alertMessage }}
                                    </v-alert>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="secondary darken-1" flat v-on:click="dialog = false">Đóng</v-btn>
                                    <v-btn color="blue darken-1 white--text" v-on:click="onSave">Lưu</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    }

                    <v-spacer></v-spacer>
                    <v-text-field v-model="search"
                                  append-icon="search"
                                  label="Tìm Kiếm"
                                  single-line
                                  hide-details></v-text-field>
                </v-card-title>
                <v-data-table :headers="headers"
                              :items="khoaHocItems"
                              :search="search">
                    <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">

                            @if (ViewBag.CanContribute)
                            {
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn flat icon slot="activator"
                                               v-on="on"
                                               color="red"
                                               v-on:click.stop="deleteDialog = true"
                                               v-on:click="itemToDelete = props.item">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                    </template>
                                    <strong>Xóa</strong>
                                </v-tooltip>

                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn color="primary"
                                               flat icon
                                               v-on="on"
                                               v-on:click.stop="dialogEdit = true"
                                               v-on:click="mappingEditItem(props.item)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </template>
                                    <strong>Sửa</strong>
                                </v-tooltip>
                            }

                        </td>
                        <td>{{ props.item.name }}</td>
                        <td>
                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-icon color="grey lighten-1" dark v-on="on">info</v-icon>
                                </template>
                                <div v-for="loaiItem in props.item.loaiNhanVien_CheDo">
                                    <strong>{{ loaiItem.loaiGiaoVien.name }}/{{ loaiItem.loaiCheDo.name }}</strong><br />
                                </div>
                            </v-tooltip>
                        </td>
                        <td>{{ props.item.phone }}</td>
                        <td>{{ props.item.teachingRate }}</td>
                        <td>{{ props.item.tutoringRate }}</td>
                        <td>{{ props.item.basicSalary }}</td>
                        <td>{{ props.item.mucHoaHong }}</td>
                        <td>
                            <v-tooltip top>
                                <template slot="activator" slot-scope="{ on }">
                                    <span v-on="on" v-if="props.item.nganHang">{{ props.item.nganHang | truncate(10, '...')}}</span>
                                </template>
                                <span>{{ props.item.nganHang}}</span>
                            </v-tooltip>
                        </td>
                        <td>{{ props.item.facebookAccount }}</td>
                        <td>
                            <v-tooltip top>
                                <template slot="activator" slot-scope="{ on }">
                                    <span v-on="on" v-if="props.item.diaChi">{{ props.item.diaChi | truncate(10, '...')}}</span>
                                </template>
                                <span>{{ props.item.diaChi}}</span>
                            </v-tooltip>
                        </td>
                        <td>{{ props.item.initialName }}</td>
                        <td>{{ props.item.cmnd }}</td>
                        <td>{{ props.item.ngayLamViec }}</td>
                        <td>{{ props.item.ngayBatDau }}</td>
                        <td>{{ props.item.ngayKetThuc }}</td>
                        <td>{{ props.item.createdDate }}</td>
                        <td>{{ props.item.createdBy }}</td>
                        <td>{{ props.item.updatedDate }}</td>
                        <td>{{ props.item.updatedBy }}</td>
                    </template>
                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                        Không tìm thấy "{{ search }}".
                    </v-alert>
                </v-data-table>
            </v-card>
        </div>

        @*DELETE DIALOG*@
        <v-dialog v-model="deleteDialog"
                  width="500">
            <v-card>
                <v-card-title class="headline error lighten-2 white--text"
                              primary-title>
                    Xác Nhận
                </v-card-title>

                <v-card-text>
                    Bạn có chắc xóa '{{ itemToDelete.name }}'?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="secondary"
                           flat
                           v-on:click="deleteDialog = false">
                        Đóng
                    </v-btn>

                    <v-btn color="error white--text"
                           v-on:click="onDelete(itemToDelete)">
                        Xóa
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        @*Edit dialog*@
        <v-dialog v-model="dialogEdit"
                  max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Cập Nhật Nhân Viên '{{ itemToEdit.name }}'</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12 sm4>
                                <v-text-field label="Tên Nhân Viên *" required v-model="itemToEdit.name" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Số Điện Thoại *" required v-model="itemToEdit.phone" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Facebook" v-model="itemToEdit.facebookAccount" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm3>
                                <v-text-field label="Teaching Rate" v-model="itemToEdit.teachingRate" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm3>
                                <v-text-field label="Tutoring Rate" v-model="itemToEdit.tutoringRate" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm3>
                                <v-text-field label="Lương Cơ Bản *" required v-model="itemToEdit.basicSalary" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm3>
                                <v-text-field label="Mức Hoa Hồng" v-model="itemToEdit.mucHoaHong" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                                <v-text-field label="Địa Chỉ *" required v-model="itemToEdit.diaChi" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="Initial Name *" required v-model="itemToEdit.initialName" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field label="CMND *" required v-model="itemToEdit.cmnd" v-on:keyup.enter="onSave"></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                                <v-select :items="itemNgayLamViec"
                                          item-text="name"
                                          item-value="ngayLamViecId"
                                          v-model="itemToEdit.ngayLamViecId"
                                          label="Chọn Ngày Làm Việc *">
                                </v-select>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-menu v-model="isShowDatePickerBatDau2"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px">
                                    <v-text-field slot="activator"
                                                  v-model="itemToEdit.ngayBatDau"
                                                  label="Ngày Bắt Đầu *"
                                                  prepend-icon="event"
                                                  readonly></v-text-field>
                                    <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayBatDau" v-on:input="isShowDatePickerBatDau2 = false"></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-menu v-model="isShowDatePickerKetThuc2"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px">
                                    <v-text-field slot="activator"
                                                  v-model="itemToEdit.ngayKetThuc"
                                                  label="Ngày Kết Thúc"
                                                  clearable
                                                  prepend-icon="event"
                                                  readonly></v-text-field>
                                    <v-date-picker locale="vi-vn" v-model="itemToEdit.ngayKetThuc" v-on:input="isShowDatePickerKetThuc2 = false"></v-date-picker>
                                </v-menu>
                            </v-flex>

                            <v-flex xs12 sm12>
                                <v-textarea outline label="Ngân Hàng" v-model="itemToEdit.nganHang" v-on:keyup.enter="onSave"></v-textarea>
                            </v-flex>

                            <v-flex xs12 sm5>
                                <v-select :items="itemLoaiGiaoVien"
                                          item-text="name"
                                          return-object
                                          v-model="itemToEdit.loaiGiaoVienId"
                                          label="Chọn Loại Nhân Viên *">
                                </v-select>
                            </v-flex>

                            <v-flex xs12 sm5>
                                <v-select :items="itemLoaiCheDo"
                                          item-text="name"
                                          return-object
                                          v-model="itemToEdit.loaiCheDoId"
                                          label="Chọn Loại Chế Độ *">
                                </v-select>
                            </v-flex>

                            <v-flex xs12 sm2>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn slot="activator" v-on="on" color="primary darken-1" small v-on:click="onAddLoaiNVCDForEdit(itemToEdit)">Thêm</v-btn>
                                    </template>
                                    <strong>Thêm Chức Danh và Chế Độ</strong>
                                </v-tooltip>
                            </v-flex>

                            <v-flex xs12 sm12>
                                <table class="table table-condensed table-hover table-bordered" style="border: 1px solid #ddd;">
                                    <thead style="background-color: orange;">
                                        <tr style="border: 1px solid #ddd;">
                                            <th style="border: 1px solid #ddd; text-align:center;"> Vị Trí</th>
                                            <th style="border: 1px solid #ddd; text-align:center;"> Chế Độ</th>
                                            <th style="border: 1px solid #ddd; text-align:center;"> Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border: 1px solid #ddd;" v-for="(item,i) in itemToEdit.loaiNhanVien_CheDo" :key="i">
                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiGiaoVien.name }}</td>
                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">{{ item.loaiCheDo.name }}</td>
                                            <td style="border: 1px solid #ddd; vertical-align: middle; text-align:center; padding-right:5px; padding-top: 0px; padding-bottom: 0px">
                                                <v-tooltip top>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn slot="activator" v-on="on" color="error darken-1" fab small flat v-on:click="onXoaLoaiNVCDForEdit(item)"><v-icon>delete</v-icon></v-btn>
                                                    </template>
                                                    <strong>Xóa Chức Danh và Chế Độ</strong>
                                                </v-tooltip>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </v-flex>

                        </v-layout>
                    </v-container>
                    <small>* bắt buộc</small>
                    <v-alert v-model="alertEdit"
                             dismissible
                             color="warning"
                             icon="priority_high"
                             outline>
                        {{ alertMessage }}
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary darken-1" flat v-on:click="dialogEdit = false">Đóng</v-btn>
                    <v-btn color="blue darken-1 white--text" v-on:click="onUpdate(itemToEdit)">Lưu</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/giaovienindex.min.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }

    td, th {
        padding: unset;
    }
</style>