<v-dialog v-model="dialog" persistent max-width="600px">
    <v-btn color="primary"
           slot="activator"
           class="white--text">
        Thêm Mới
        <v-icon right dark>add</v-icon>
    </v-btn>
    <v-card>
        <v-card-title>
            <span class="headline">Thêm Thử Thách Mới</span>
        </v-card-title>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-text-field label="Tên Thử Thách *" required v-model="newItem.name"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-select :items="itemKhoaHoc"
                                  item-text="name"
                                  item-value="khoaHocId"
                                  v-model="newItem.khoaHoc"
                                  label="Chọn Khóa Học *">
                        </v-select>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field label="Số Câu Hỏi *" required v-model="newItem.soCauHoi"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field label="Thời Gian Làm Bài (phút) *" required v-model="newItem.thoiGianLamBai"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field label="Số Điểm Cần Đạt *" required v-model="newItem.minGrade"></v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>
            <small>* bắt buộc</small>
            <v-alert v-model="alert"
                     dismissible
                     color="warning"
                     icon="priority_high"
                     outline>
                {{ message }}
            </v-alert>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary darken-1" flat v-on:click="dialog = false">Đóng</v-btn>
            <v-btn color="blue darken-1 white--text" v-on:click="onSave(newItem)">Lưu</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>