<v-flex xs12 sm3>
    <v-select v-model="selectedLopHoc"
              :items="itemLopHoc"
              item-text="name"
              item-value="lopHocId"
              chips
              label="Chọn Lớp Học"
              v-on:change="onTinhDiemDanh">
        <template v-slot:selection="data">
            <v-chip :selected="data.selected"
                    color="green"
                    text-color="white">
                <span>{{ data.item.name }}</span>
            </v-chip>
        </template>
    </v-select>
</v-flex>

<v-flex xs12 sm3>
    <v-select :items="itemThang"
              v-model="selectedThang"
              chips
              label="Chọn Tháng"
              v-on:change="onTinhDiemDanh"></v-select>
</v-flex>

<v-flex xs12 sm3>
    <v-select :items="itemNam"
              v-model="selectedNam"
              chips
              label="Chọn Năm"
              v-on:change="onTinhDiemDanh"></v-select>
</v-flex>

<v-flex xs12 sm3>
    <v-menu v-model="isShowDatePicker"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            v-if="diemDanhItems.length > 0"
            min-width="290px">
        <v-text-field slot="activator"
                      v-model="ngayDiemDanh"
                      label="Ngày Điểm Danh"
                      prepend-icon="event"
                      readonly></v-text-field>
        <v-date-picker locale="vi-vn" v-model="ngayDiemDanh" v-on:input="isShowDatePicker = false"></v-date-picker>
    </v-menu>
</v-flex>

@if (ViewBag.CanContribute)
{
    <v-flex xs12 sm2 class="text-xs-center">
        <v-btn v-if="diemDanhItems.length > 0"
               color="info"
               v-on:click="DiemDanhCaLop()">
            Có Mặt Cả Lớp
        </v-btn>
    </v-flex>
    <v-flex xs12 sm2 class="text-xs-center">
        <v-btn v-if="diemDanhItems.length > 0"
               color="error"
               v-on:click="LopNghi()">
            Lớp Nghỉ
        </v-btn>
    </v-flex>

    <v-flex xs12 sm2 class="text-xs-center">
        <v-btn v-if="diemDanhItems.length > 0"
               color="warning"
               v-on:click="UndoLopNghi()">
            Hoàn Tác Cả Lớp
        </v-btn>
    </v-flex>

    <v-flex xs12 sm2 class="text-xs-center">
    </v-flex>

    <partial name="_HocVienOffDialog" />

    <partial name="_HoanTacDiemDanhDialog" />
}