<v-flex xs12 sm2 class="text-xs-center">
    <v-dialog v-model="dialogHoanTac" persistent max-width="600px" v-if="diemDanhItems.length > 0">
        <v-btn color="yellow darken-3"
               slot="activator"
               class="white--text">
            Chọn Học Viên Hoàn Tác
        </v-btn>
        <v-card>
            <v-card-title>
                <span class="headline">Chọn Học Viên Hoàn Tác</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-menu ref="isShowDatePickerUndo"
                                    v-model="isShowDatePickerUndo"
                                    :close-on-content-click="false"
                                    :return-value.sync="dates"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-combobox v-model="ngayDiemDanhUndo"
                                                multiple
                                                chips
                                                small-chips
                                                label="Chọn 1 hoặc nhiều ngày"
                                                prepend-icon="event"
                                                readonly
                                                v-on="on"></v-combobox>
                                </template>
                                <v-date-picker locale="vi-vn" v-model="ngayDiemDanhUndo" multiple no-title scrollable>
                                </v-date-picker>
                            </v-menu>
                        </v-flex>

                        <v-flex xs12>
                            <v-select v-model="selectedHocViens"
                                      :items="diemDanhItems"
                                      item-text="label"
                                      item-value="hocVienId"
                                      chips
                                      label="Chọn Học Viên"
                                      multiple>
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>{{ data.item.label }}</span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>

                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary darken-1" flat v-on:click="ngayDiemDanhUndo = []; selectedHocViens = []; dialogHoanTac = false">Đóng</v-btn>
                <v-btn color="blue darken-1 white--text" v-on:click="onSaveHocVienHoanTac">Lưu</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-flex>