<div id="DiemDanhIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    <v-layout wrap>
                        <v-flex xs12 sm2>
                            <v-select v-model="selectedLopHoc"
                                      :items="itemLopHoc"
                                      item-text="name"
                                      item-value="lopHocId"
                                      chips
                                      label="Chọn Lớp Học"
                                      v-on:change="onTinhDiemDanh">
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>{{ data.item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm2>
                            <v-select :items="itemThang"
                                      v-model="selectedThang"
                                      chips
                                      label="Chọn Tháng"
                                      v-on:change="onTinhDiemDanh"></v-select>
                        </v-flex>

                        <v-flex xs12 sm2>
                            <v-select :items="itemNam"
                                      v-model="selectedNam"
                                      chips
                                      label="Chọn Năm"
                                      v-on:change="onTinhDiemDanh"></v-select>
                        </v-flex>

                        <v-flex xs12 sm2>
                            <v-menu v-model="isShowDatePicker"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="ngayDiemDanh"
                                              label="Ngày Điểm Danh"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="ngayDiemDanh" v-on:input="isShowDatePicker = false"></v-date-picker>
                            </v-menu>
                        </v-flex>

                        <v-flex xs12 sm2 class="text-xs-center">
                            <v-btn v-if="selectedLopHoc!=''"
                                   color="info"
                                   v-on:click="DiemDanhCaLop()">
                                Có Mặt Cả Lớp
                            </v-btn>
                        </v-flex>
                        <v-flex xs12 sm2 class="text-xs-center">
                            <v-btn v-if="selectedLopHoc!=''"
                                   color="error"
                                   v-on:click="LopNghi()">
                                Lớp Nghỉ
                            </v-btn>
                        </v-flex>

                    </v-layout>
                </v-card-title>

                <v-container fluid v-if="diemDanhItems.length > 0">
                    <v-layout wrap>
                        <v-flex>
                            <table class="table table-condensed table-hover table-bordered" style="border: 1px solid #ddd;">
                                <thead style="background-color: orange;">
                                    <tr style="border: 1px solid #ddd;">
                                        <th style="border: 1px solid #ddd;">Học Viên</th>
                                        <th style="border: 1px solid #ddd;" v-for="(column, index) in soNgayHoc" :key="index"> {{ column }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border: 1px solid #ddd;" v-for="(item, index) in diemDanhItems" :key="index">
                                        <td style="border: 1px solid #ddd;">{{ item.label }}</td>
                                        <td style="border: 1px solid #ddd;" v-for="(column, indexColumn) in soNgayHoc" :key="indexColumn">
                                            @*phai~ dao~ isOff de ko sinh loi v-switch*@
                                            <span v-for="(content, indexSpan) in item.thongKeDiemDanh" :key="indexSpan">
                                                <i v-if="content.day == column && content.isOff == false && content.duocNghi == false">
                                                    <v-switch v-model="content.isOff" color="success" v-on:change="onDiemDanhNew(item.hocVienId, column, content.isOff)" hide-details></v-switch>
                                                </i>
                                                <i v-else-if="content.day == column && content.isOff == false && content.duocNghi == true">
                                                    off
                                                </i>
                                                <i v-else-if="content.day == column && content.isOff == true && content.duocNghi == false">
                                                    <v-switch v-model="content.isOff" color="success" v-on:change="onDiemDanhNew(item.hocVienId, column, content.isOff)" hide-details></v-switch>
                                                </i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </v-flex>
                    </v-layout>
                </v-container>

            </v-card>
        </div>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/diemdanhindex.min.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }

    td, th {
        padding: unset;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    table {
        background-color: transparent;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-bottom-width: 2px;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 5px;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .v-input--selection-controls {
        margin-top: 0px; 
    }
</style>