<div id="DiemDanhIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    <v-layout>
                        <v-flex xs12 sm4>
                            <v-select v-model="selectedLopHoc"
                                      :items="itemLopHoc"
                                      item-text="name"
                                      item-value="lopHocId"
                                      attach
                                      chips
                                      label="Chọn Lớp Học"
                                      v-on:change="GetHocVienByLopHoc">
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>{{ data.item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-menu v-model="isShowDatePicker"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px">
                                <v-text-field slot="activator"
                                              v-model="ngayDiemDanh"
                                              label="Ngày Điểm Danh"
                                              prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker locale="vi-vn" v-model="ngayDiemDanh" v-on:input="isShowDatePicker = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4 class="text-xs-center">
                            <v-btn :disabled="selectedLopHoc==''" 
                                   color="info"
                                   v-on:click="DiemDanhCaLop()">
                                Điểm Danh Có Mặt Cả Lớp
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-title>

                <v-container fluid v-if="hocVienList.length > 0"
                             grid-list-lg>
                    <v-layout row wrap>
                        <v-flex xs12 sm6 md4 lg4
                                v-for="item in hocVienList" :key="item.hocVienId">
                            <v-card color="orange lighten-5" class="dark--text">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">{{ item.fullName }}</div>
                                    </div>
                                </v-card-title>
                                <v-card-actions>
                                    <v-btn color="success">Có Mặt</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="error">Vắng</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>

            </v-card>
        </div>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/diemdanhindex.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }
</style>