@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-fixed">
    <nav class="navbar-color gradient-45deg-purple-deep-orange gradient-shadow">
        <div class="nav-wrapper">
            <ul class="right">
                <li>
                    <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                        <span class="hide-on-small-and-down">Hello @User.Identity.Name!</span> <i class="hide-on-med-and-up material-icons">more_vert</i>
                    </a>
                </li>
            </ul>
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-area="" asp-controller="Setting" asp-action="AccountIndexAsync" class="grey-text text-darken-1">
                            <i class="material-icons">people</i> Tài Khoản
                        </a>
                    </li>
                }

                <li>
                    <a id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="grey-text text-darken-1">
                        <i class="material-icons">settings</i> Đổi mật khẩu
                    </a>
                </li>
                <li>
                    <a href="javascript:void()" onclick="document.getElementById('log-out-form').submit();" class="grey-text text-darken-1">
                        <i class="material-icons">keyboard_tab</i> Thoát
                    </a>
                    <form id="log-out-form" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
                </li>
                <li>
                    <a class="grey-text text-darken-1">
                        <i class="material-icons">info</i> v1.0.9
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>