<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a href="index.html" class="brand-logo darken-1">
                <img src="~/layout_page/images/logo/materialize-logo.png" alt="materialize logo">
                <span class="logo-text hide-on-med-and-down">UP Center</span>
            </a>
            <a href="index.html#" class="navbar-toggler">
                <i class="material-icons">radio_button_checked</i>
            </a>
        </h1>
    </div>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="material-icons">dvr</i>
                        <span class="nav-text">Danh Mục</span>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="KhoaHocIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Khóa Học</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="LopHoc" asp-action="Index">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Lớp Học</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="HocVien" asp-action="Index">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Học Viên</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="LoaiGiaoVienIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Loại Giáo Viên</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="GiaoVien" asp-action="Index">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Giáo Viên</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="NgayHocIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Ngày Học</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="HocPhiIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Học Phí</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="GioHocIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Giờ Học</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="QuanHeIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Quan Hệ</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Category" asp-action="SachIndex">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span> Sách</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a asp-area="" asp-controller="DiemDanh" asp-action="Index" class="waves-effect waves-cyan">
                        <i class="material-icons">list_alt</i>
                        <span class="nav-text">Điểm Danh</span>
                    </a>
                </li>
                <li class="bold">
                    <a asp-area="" asp-controller="HocPhi" asp-action="Index" class="waves-effect waves-cyan">
                        <i class="material-icons">attach_money</i>
                        <span class="nav-text">Học Phí</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="li-hover">
            <p class="ultra-small margin more-text">MORE</p>
        </li>
        <li>
            <a href="angular-ui.html">
                <i class="material-icons">verified_user</i>
                <span class="nav-text">Angular UI</span>
            </a>
        </li>
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a class="collapsible-header  waves-effect waves-cyan">
                        <i class="material-icons">photo_filter</i>
                        <span class="nav-text">Menu Levels</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <a href="ui-basic-buttons.html">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Second level</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span class="nav-text">Second level child</span>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="ui-basic-buttons.html">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Third level</span>
                                            </a>
                                        </li>
                                        <li class="bold">
                                            <a class="collapsible-header  waves-effect waves-cyan">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span class="nav-text">Third level child</span>
                                            </a>
                                            <div class="collapsible-body">
                                                <ul class="collapsible" data-collapsible="accordion">
                                                    <li>
                                                        <a href="ui-basic-buttons.html">
                                                            <i class="material-icons">keyboard_arrow_right</i>
                                                            <span>Forth level</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="ui-extended-buttons.html">
                                                            <i class="material-icons">keyboard_arrow_right</i>
                                                            <span>Forth level</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="changelogs.html">
                <i class="material-icons">track_changes</i>
                <span class="nav-text">Changelogs</span>
            </a>
        </li>
        <li>
            <a href="../documentation.html" target="_blank">
                <i class="material-icons">import_contacts</i>
                <span class="nav-text">Documentation</span>
            </a>
        </li>
        <li>
            <a href="https://pixinvent.ticksy.com" target="_blank">
                <i class="material-icons">help_outline</i>
                <span class="nav-text">Support</span>
            </a>
        </li>
    </ul>
    <a href="index.html#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
        <i class="material-icons">menu</i>
    </a>
</aside>