@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <header>
        <p class="text-danger">Bạn không có quyền truy cập trang này.</p>
    </header>
    <div class="row">
        <img src="~/img/access-denied.png" width="300" class="text-center img-responsive" />
    </div>
</div>
