@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container">
    <header>
        <p class="text-danger">Tài khoản đã bị khóa, vui lòng liên hệ admin để mở khóa.</p>
    </header>
    <div class="row">
        <img src="~/img/lock.png" width="300" class="text-center img-responsive" />
    </div>
</div>
