<div id="HocPhiIndex">
    <v-app>
        <div class="container">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">{{ title }}</h5>
            </div>

            <v-card>
                <v-card-title>
                    <v-layout wrap>
                        <v-flex xs12 sm4>
                            <v-select v-model="selectedLopHoc"
                                      :items="itemLopHoc"
                                      item-text="name"
                                      item-value="lopHocId"
                                      attach
                                      chips
                                      label="Chọn Lớp Học"
                                      v-on:change="onTinhTien">
                                <template v-slot:selection="data">
                                    <v-chip :selected="data.selected"
                                            color="green"
                                            text-color="white">
                                        <span>{{ data.item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-select>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-select :items="itemThang"
                                      v-model="selectedThang"
                                      chips
                                      label="Chọn Tháng"
                                      v-on:change="onTinhTien"></v-select>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-select :items="itemNam"
                                      v-model="selectedNam"
                                      chips
                                      label="Chọn Năm"
                                      v-on:change="onTinhTien"></v-select>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-flex xs12 sm2 v-if="hocVienList.length > 0">
                            <v-btn color="success" v-on:click="onExport">Xuất Excel</v-btn>
                        </v-flex>
                        <div v-if="hocVienList.length > 0">
                            Số ngày học tháng trước:
                            <span style="color:red">{{tongNgayHoc}}</span>

                            - Số ngày được nghỉ:
                            <span style="color:red">
                                {{tongNgayDuocNghi}}
                            </span>

                            - Học phí:
                            <span style="color:red">
                                {{formatNumber(tongHocPhi)}}
                            </span>

                            - Học phí mỗi ngày:
                            <span style="color:red">{{formatNumber(hocPhiMoiNgay)}}</span>
                        </div>


                        <v-container fluid v-if="hocVienList.length > 0">
                            <v-layout wrap>
                                <v-flex>
                                    <v-data-table :headers="headers"
                                                  :items="hocVienList">
                                        <template slot="items" slot-scope="props">

                                            <td>
                                                {{ props.item.fullName }}
                                                <v-tooltip top v-if="props.item.hocPhiBuHocVienVaoSau > 0">
                                                    <template v-slot:activator="{ on }">
                                                        <v-icon color="grey lighten-1" dark v-on="on">info</v-icon>
                                                    </template>
                                                    Ngày vào học: <strong>{{ props.item.ngayBatDauHoc }}</strong><br />
                                                    Trừ học phí: <strong>{{ formatNumber(props.item.hocPhiBuHocVienVaoSau) }}</strong>
                                                </v-tooltip>
                                            </td>
                                            <td>{{ formatNumber(props.item.tienNo) }}</td>
                                            <td>
                                                <v-select :items="itemSach"
                                                          item-text="name"
                                                          item-value="gia"
                                                          attach
                                                          multiple
                                                          chips
                                                          label="Chọn Tài Liệu"
                                                          v-model="props.item.giaSach"
                                                          v-on:change="onchangeSach(props.item.giaSach, props.item)">
                                                    <template v-slot:selection="data">
                                                        <v-chip :selected="data.selected"
                                                                color="green"
                                                                text-color="white">
                                                            <strong>{{ data.item.name }}</strong>&nbsp;
                                                            <span>({{ formatNumber(data.item.gia) }})</span>
                                                        </v-chip>
                                                    </template>
                                                </v-select>
                                            </td>
                                            <td>
                                                <v-select :items="itemKhuyenMai"
                                                          v-model="props.item.khuyenMai"
                                                          attach
                                                          chips
                                                          label="Khuyến Mãi (%)"
                                                          v-on:change="onchangeKhuyenMai(props.item.khuyenMai, props.item)">
                                                </v-select>
                                            </td>
                                            <td><v-text-field label="Học Phí" v-model="props.item.hocPhiMoi"></v-text-field></td>
                                            <td>
                                                <v-tooltip top>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn flat icon
                                                               color="success"
                                                               v-on="on"
                                                               v-on:click="onLuu(props.item)">
                                                            <v-icon>check</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <strong>Đóng tiền và Lưu</strong>
                                                </v-tooltip>

                                                <v-tooltip top>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn flat icon
                                                               color="warning"
                                                               v-on="on"
                                                               v-on:click="onNo(props.item)">
                                                            <v-icon>restore</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <strong>Nợ và Lưu</strong>
                                                </v-tooltip>
                                            </td>

                                        </template>
                                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                            Không tìm thấy "{{ search }}".
                                        </v-alert>
                                    </v-data-table>
                                </v-flex>
                            </v-layout>
                        </v-container>

            </v-card>
        </div>

        <v-snackbar v-model="snackbar"
                    :color="color"
                    :timeout="timeout"
                    top
                    right>
            {{ messageText }}
            <v-btn dark
                   flat
                   v-on:click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/tinhhocphiindex.js" type="text/javascript"></script>

<style>
    .v-input__slot:before, .v-input__slot:after {
        display: none
    }

    .v-small-dialog a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-color: #0088cc;
    }

    td, th {
        padding: unset;
    }
</style>